<%= form_for @journey do |f| %>

<% if @journey.errors %>
  <p><%= @journey.errors.full_messages.to_sentence %></p>
<% end %>

<div class="field">
  <%= f.label :name %>
  <%= f.text_field :name %>
</div>

<div class="field">
  <%= f.label :start_time %>
  <%= f.time_field :start_time %>
</div>

<div class="field">
  <%= f.label :start_date %>
  <%= f.date_field :start_date %>
</div>

<h3>Meetings</h3>

<div id="meetings">
  <%= f.fields_for :meetings, f.object.meetings.order(:created_at) do |meeting| %>
    <%= render 'meeting_fields', f: meeting %>
  <% end %>
  <div class="links">
    <%= link_to_add_association 'Add Meeting', f, :meetings %>
  </div>
</div>

<%= f.submit 'Save' %>

<% end %>