<div class="nested-fields">
  <div class="well">
    <div class="form-group">
      <%= f.label "Client name" %>
      <%= f.text_field :name, class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= f.label :location %>
      <%= f.text_field :location, class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= f.label :duration %>
      <%= f.text_field :duration, class: 'form-control' %>
    </div>

    <%= link_to_remove_association f, class: 'btn btn-default remove-fields' do %>
      Remove meeting
    <% end %>
  </div>
</div>