<h1>Edit Journey
<small><%= @journey.name %></small>
</h1>
<%= link_to 'Back', journeys_path, class: 'btn btn-primary' %>
<%= link_to 'Delete journey', journey_path(@journey), method: :delete, class: 'btn btn-danger' %>
<%= render 'form' %>
<%= render 'journey_details' %>